@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "Home Page";
}

<div style="height:100vh;" class="container my-5">
    @if (SignInManager.IsSignedIn(User))
    {
        <div>
            <h2 class="mr-auto">Dashboard</h2>
            <p>Bienvenue sur votre panneau.</p>
        </div>


        <section class="row">
            <div class="col-6 p-2">
                <form class="card p-2">
                    <h5>Uploader IOX package</h5>
                    <hr class="mt-1 mb-2" />
                    <p>Here you can export an IOX package to an CISCO Catalyst router.</p>
                    <div class="form-group">
                        <label for="file">IOX package</label>
                        <input, disabled id="file" class="form-control-file" type="file" />
                    </div>
                    <button disabled class="btn p-1 btn-light" type="submit">Upload</button>
                </form>
                <div class="card mt-3 p-2">
                    <h5>Router manage</h5>
                    <hr class="mt-1 mb-2" />
                    <p>Access routers.</p>
                    <div class="form-group">
                        <a class="btn btn-light col-12" asp-area="" asp-controller="Router" asp-action="Index">Manage</a>
                    </div>
                </div>
            </div>
            <div class="col-6 p-2">
                <div class="card p-2">
                    <h5>Manage local container</h5>
                    <hr class="mt-1 mb-2" />
                    <p>Here you can access and manage your local Docker container.</p>
                    <div class="form-group">
                        <label for="file">Container list</label>
                        <input type="button" class="btn btn-light w-100" value="List" onclick="location.href='@Url.Action("ContainerList")'" />
                    </div>
                    <div class="form-group">
                        <label for="file">Create IOX package</label>
                        <input disabled type="button" class="btn btn-light w-100" value="Create" onclick="location.href='@Url.Action("HomeController/PullImage")'" />
                    </div>
                   
                </div>
            </div>

        </section>
    }
    else
    {
        <h1>You must be connected for access to this page.</h1>
    }


</div>
