@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <form action="">
        <h1>Entrer le fichier à télécharger</h1>
        <label for="file">Package IOX</label>
        <input id="file " type="file" />
        <button type="submit">Load on switch</button>
    </form>
</div>

<div>
    <h1>Lister les containers actifs</h1>
    <input type="button" value="List" onclick="location.href='@Url.Action("ContainerList")'" />
</div>

<div>
    <input type="button" value="Create" onclick="location.href='@Url.Action("HomeController/PullImage")'" />
</div>

<div>
    <input type="button" value="Test" onclick="location.href='@Url.Action("CiscoSwitchConnectionSSH")'" />
</div>

