@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Home Page";
}

<section id="home_page">
    <div id="home_page_bg" class="pt-5">
        <div class="container">
            <h1 class="white_txt pt-5 mb-0">UN<span>i</span>ON</h1>
            <h2 class="white_txt">Define new frontiers for cooperation</h2>
            <a class="btn btn-light button-home" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </div>
    </div>
    <div class="container home_card_wrapper">
        <div class="row mt-5 justify-content-around">
            <article class="col-3 p-3 home_card card rounded white_bg">
                <h5>Docker container supervisor</h5>
                <hr />
                <img src="~/images/docker-icon.png" class="col-8 mx-auto mb-3" alt="docker logo" />
                <p>Fast and efficient, administer more in one place.</p>
            </article>
            <article class="col-3 p-3 home_card card rounded white_bg">
                <h5>Manage router, don't waste time !</h5>
                <hr />
                <img src="~/images/wifi-router.png" class="col-8 mx-auto mb-3" alt="router logo" />
                <p>Quickly manage and simple interface !</p>
            </article>
            <article class="col-3 p-3 card home_card rounded white_bg">
                <h5>Upload and manage application into router</h5>
                <hr />
                <img src="~/images/connection-logo.png" class="col-8 mx-auto mb-3" alt="connection logo" />
                <p>One application to manage your router content.</p>
            </article>
            <div class="text-center mb-5 pt-5 col-12">
                <p class="mt-0 mb-2">Union is in free access, don't wait and join us !'</p>
                <button class="btn btn-secondary mx-auto mb-5">Try it !</button>
            </div>
        </div>
        <div class="row mb-5">
            <article class="col-6">
                <h5>Still connect together</h5>
                <p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum.</p>
                <p>lorem</p>
                <p>You need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                <p> It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures.</p>
            </article>
            <div class="col-6">
                <img src="~/images/city-card.png" class="w-100" />
            </div>
        </div>
    </div>
</section>
<section>
    
</section>
