@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Home Page";
}

<section id="home_page">
    <div class="container pt-5">
        <h1 class="white_txt pt-5 mb-0">UN<span>i</span>ON</h1>
        <h2 class="white_txt">Define new frontiers for cooperation</h2>
        <button class="btn btn-light mx-auto mb-5">Discover</button>

        <div class="row mt-5 justify-content-around">
            <article class="col-3 p-3 home_card card rounded white_bg">
                <h5>Docker container supervisor</h5>
                <hr />
                <img src="~/images/docker-icon.png" class="col-8 mx-auto mb-3" alt="docker logo" />
                <p>Fast and efficient, administer more in one place.</p>
            </article>
            <article class="col-3 p-3 home_card card rounded white_bg">
                <h5>Manage router, don't waste time !</h5>
                <hr />
                    <img src="~/images/wifi-router.png" class="col-8 mx-auto mb-3" alt="router logo" />
                <p>Quickly manage and simple interface !</p>
            </article>
            <article class="col-3 p-3 card home_card rounded white_bg">
                <h5>Upload and manage application into router</h5>
                <hr />
                <img src="~/images/connection-logo.png" class="col-8 mx-auto mb-3" alt="connection logo" />
                <p>One application to manage your router content.</p>
            </article>
            <div class="text-center col-12">
                <button class="btn btn-secondary mx-auto my-5">Try it !</button>
            </div>
        </div>
    </div>
</section>

