@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IList<ApplicationList>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2 class="mr-auto">Dashboard</h2>
    <p>Orchestrez les routeurs depuis ce panneau.</p>
</div>

@if (SignInManager.IsSignedIn(User))
{
    <section class="row">
        <div class="col-6 p-2">
            <form class="card p-2">
                <h5>Ajouter un router</h5>
                <hr class="mt-1 mb-2" />
                <div class="form-group">
                    <label for="rooterHost">Hôte</label>
                    <input id="rooterHost" name="rooterHost" class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <label for="rooterUsername">Username</label>
                    <input id="rooterUsername" name="rooterUsername" class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <label for="rooterPassword">Password</label>
                    <input id="rooterPassword" name="rooterPassword" class="form-control" type="password" />
                </div>
                <button class="btn p-1 btn-light" type="submit">Ajouter</button>
            </form>
        </div>
        <div class="col-6 p-2">
            <div class="card p-2">
                <h5>Gestion des Applications sur le routeur</h5>
                <div class="form-group">
                    <label for="file">Tester des trucs</label>
                    <input type="button" class="btn btn-light w-100" value="Lister" onclick="location.href='@Url.ActionLink("ShowApplicationList", "Router")'" />
                    <small>(conséquence inconnu, pouvant déformer irrémédiablement le continuum spatio-temporel, à utiliser avec parcimonie.)</small>
                </div>
            </div>
        </div>
        <div class="col-12 p-2">
            <div class="card mt-3 p-2">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Date de création</th>
                            
                            <th>Type | Private & Public Port </th>
                            <th>Status</th>
                            <th>Start/Stop</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                            <td>
                               Routeur A1
                            </td>
                            <td>
                               10/07/2021 11:32:47
                            </td>
                            <td>
                               Type | Privé | 8080
                            </td>
                            <td>
                               Allumé
                            </td>
                            <td>
                                start | stop
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </section>
}
else
{
    <h1>You need to be connected</h1>
    <img src="~/images/bg-banner.jpg" class="img" alt="My image" />
}

