
@{
    ViewData["Title"] = "RouterLogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="height:100vh;" class="container my-5">
    <h1>RouterLogs</h1>

    <div class="log_display">
        @if (!string.IsNullOrWhiteSpace(ViewBag.Logs))
        {
            var lines = ViewBag.Logs.Split(new[] { '\r', '\n' }, StringSplitOptions.RemoveEmptyEntries);
            foreach (var line in lines)
            {
                <p>@line</p>
            }
        }
    </div>

</div>
